html {
  height: 100%;
  width: 100%;
  background-color: white;
}

.header {
  height: 450px;
  background-color: #E2CECD;
}

.container {
  position: relative;
}

nav :hover {
  background-color: gray;
  color: black;
}

.enter {
  height: 125px;
  width: 275px;
  border-style: solid;
  background-color: #604831;
  margin-top: 50px;
  position: absolute;
  text-align: center;
}

.infobtn {
  height: 50px;
  width: 255px;
  border-style: solid;
  background-color: #604831;
  margin-top: 190px;
  position: absolute;
  text-align: center;
  margin-left: 20px;
}

.center {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding-bottom: 14px;
}

nav h2 {
  font-family: 'Aboreto', cursive;
  color: #E2CECD;
  font-size: 28px;
}

section {
  height: 400px;
  margin-left: 16px;
  margin-right: 16px;
}

.box {
  background-color: #AB977F;
  height: 400px;
}

header h1{
  font-family: 'Aboreto', cursive;
  font-size: 90px;
  color:#4a3521;
}

header h2{
  font-family: 'Aboreto', cursive;
  color: #4a3521;
}

.piano_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  scale: 150%;
  margin-top: 75px;
}

.guitar_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  scale: 200%;
  transform: rotate(-45deg);
  margin-top: 132px;
}

.drums_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  scale: 150%;
  margin-top: 75px;
}

.info_img {
  scale: 20%;
  border: solid;
}

.keys_img {
  width: 100%;
  scale: 90%;
}

.cursor_img {
  width: 55%;
}

.sidemouse_img {
  display: inline;
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
}

.updownmouse_img {
  display: inline;
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
}